pandas
numpy
scipy
matplotlib
seaborn
jupyterlab
yfinance
yahooquery
requests
beautifulsoup4
py_vollib
mibian
backtrader
vectorbt
numba
scikit-learn
statsmodels
pandas_ta
mplfinance
ipykernel
openpyxl
pdfplumber
loguru==0.7.3
